.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.root{
--blue: hsl(185, 75%, 39%);
--navy-950: hsl(229, 23%, 23%);
--gray-500: hsl(227, 10%, 46%);
--gray-100: hsl(225, 10%, 92%);
font-size: 18px;
font-family: 'Kumbh Sans', sans-serif;

/* font weight */
--font-normal: 400;
--font-bold: 700;
}



.card_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 80px);
    position: relative;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    /* background-repeat: no-repeat,no-repeat; */
    background-color: var(--blue);
    color: var(--navy-950);
     font-size: 1.5rem;
     padding: 20px;
     
    
}

.card_wrapper .card{
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,0.2);
    background-color: var(--gray-100);
    position: relative;
    
}


.card_wrapper .card .card_top{
    flex: 1;

}
.image_wrapper{
    width: 100%;
    height: 200px;
    overflow: hidden;
    
}

.ocean_blue{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_wrapper .card .card_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex: 2;
    background-color: var(--gray-100);
    font-weight: var(--font-bold);

}




.card_wrapper .card .card_bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    margin-top: 32px;
}

.profile_name{
    margin-top: 32px;
}

.card_wrapper .card .card_bottom .stats_wrapper{
    display: flex;
    justify-content: space-around;
    gap: 16px;
    width: 100%;
    border-top: 1px solid var(--gray-500);
    margin-top: 24px;
    margin-bottom: 16px;
    padding-top: 24px;
}

.card_wrapper .card .card_bottom .follower_stat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .card_wrapper .card .card_bottom .likes_stat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_wrapper .card .card_bottom .photos_stat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.follower, .likes,.photos,.profile_location,.profile_age{
    font-weight: var(--font-normal);
    color: var(--gray-500);
}

.card_wrapper .card .profile_image{
    position: absolute;
    border: 5px solid var(--gray-100);
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: 135px;
    left: calc(50% - 75px);
}

.card_wrapper .card .profile_image .profile_picture{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

    
@media screen and (min-width: 400px) {

    .card_wrapper{
        height: 100dvh;


    }
    
}